# Зависимости
node_modules/
.pnp
.pnp.js

# Сборка и кэш
dist/
build/
.vite/
.eslintcache

# Логи и окружение
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Системные файлы
.DS_Store
Thumbs.db
